/* Universal Styles */

@font-face {
    font-family: titleFont;
    src: url(../fonts/Draconis.otf);
  }
  
  body{
    background-color: #0E1116;
    color: #EADEDA;
  }
  
  
  h1,h2,h3,h4,h5 {
      font-family: titleFont;
  }
  
  .navbar{
    background-color: #374A67;
    font-size: 22px;
  }
  
  .nav-link , .navbar-brand{
    color: #EADEDA;
    font-family: titleFont;
  }
  
  .nav-link:hover , .navbar-brand:hover, .active:hover{
    color: #EADEDA !important;
    border-bottom: 2px solid #EADEDA;
    cursor: pointer;
  }
  
  .navbar-brand{
    width: 0px;
    font-size: 32px;
  }
  
  .navbar-nav{
    margin-left: 10%;
  }
  
  .nav-link{
    margin-left: 5%;
    margin-right: 5%;
  }
  
  .active{
    color: #EADEDA !important;
    border-bottom: 2px solid #EADEDA;
  }
  
  .logo-img{
    width: 36px;
  }
  
  .navbar-collapse{
    justify-content: center;
  }
  
  .d-flex, .search-bar, .search-bar:focus{
    font-family: titleFont;
    color: #EADEDA !important;
    background-color: #374A67;
  }
  
  .d-flex{
    width: 20%;
  }
  
  .btn-primary{
    font-family: titleFont;
    font-size: 32px;
    color: #EADEDA;
    background-color: #374A67;
    border-radius: 15px;
    border: 2px solid #374A67;
    width: 35%;
  }
  
  .btn-primary:hover{
    background-color: #374A67;
    border: 2px solid #EADEDA;
    cursor: pointer;
  }
  
  .btn-primary:active{
    color: #374A67 !important;
    background-color: #EADEDA !important;
    border: 2px solid #374A67 !important;  
  }


  .btn-secondary{
    font-family: titleFont;
    font-size: 24px;
    color: #EADEDA;
    background-color: #374A67;
    border-radius: 15px;
    border: 2px solid #374A67;
    width: 35%;
  }
  
  .btn-secondary:hover{
    background-color: #374A67;
    border: 2px solid #EADEDA;
    cursor: pointer;
  }
  
  .btn-secondary:active{
    color: #374A67 !important;
    background-color: #EADEDA !important;
    border: 2px solid #374A67 !important;  
  }

  .table-dark{
    --bs-table-bg: #0E1116;
    --bs-table-color: #EADEDA;
    --bs-table-border-color: #EADEDA; 
    --bs-table-hover-bg: #0E1116;
    --bs-table-hover-color: #EADEDA;
  }
  
  table{
    font-family: titleFont;
    font-size: 32px;
  }

  /* end of Universal Styles */
  /* ====================================================================================================================== */


/* Character builder code */
/* ======================================================================================================================= */

/* race selector code */

.choose-race{
    text-align: center;
  }
  
  
.img-builder{
    height: 120vh;
    border-radius: 25px;
    background-image: url(../assets/images/paladinClass.jpg);
    background-size: cover;
    background-position: top;
  }
  

  .make-a-character{
    display: flex;
    justify-content: center;
  }
  
  .make-a-character:hover{
    cursor: pointer;
    color: #374A67;
  }

  .side-nav{
    list-style: none;
    margin-left: -65%;
  }
  
  .race-selector{
    width: 60px;
    height: 60px;
    border: 3px solid #EADEDA;
    border-radius: 100%;
    margin-top: 2px;
  }
  
  .rs-active{
    background-color: #374A67;
  }
  
  .race-selector:hover{
    background-color: #374A67;
    border: 3px solid #374A67;
    cursor: pointer;
  }
  
  .race-img{
    width: 60px;
    margin-left: -2px;
    padding: 15px;
  }
  
  .fist-img{
    width: 60px;
    margin-left: -2px;
    padding: 15px;
    margin-top: -4px;
  }
  
  .race-name, .read-more-race{
    font-size: 32px;
  }
  
  .read-more-race{
    display: flex;
    justify-content: end;
  }
  
  .read-more-race:hover{
    color: #374A67;
    cursor: pointer;
  }
  
  /* selector hover states */
  .selector-con{
    width: 100%; 
    height: auto; 
    position: relative;
  }
  
  .selector-img-con{
    position: absolute;
  }
  
  .active-selector{
    width: 230px; 
    height: 60px; 
    border-radius: 60px; 
    margin-left: -2px; 
    margin-top: -2px;
    background-color: #374A67;
    border: 3px solid #EADEDA;
  }
  
  .selector-label{
    width: 80%;
    height: 80%;
    margin-left: 20%;
    padding-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .no-img{
    width: 100%;
    padding-left: 0% !important;
    padding-right: 0% !important;
    margin-left: 8%;
  }
  
  .roll-method{
    width: 40%;
    background-color: #374A67;
    color: #EADEDA;
    font-family: titleFont;
    font-size: 19px;
  }

  .bgSelect{
    background-color: #374A67;
    color: #EADEDA;
    font-family: titleFont;
    font-size: 19px;
  }
  
  
  /* modal content */
  
  .modal-content{
    background-color: #374A67;
    color: #EADEDA;
  }
  
  /* ======================================================================================================================= */



  /* ability cards  */


  .card-con{
    display: flex;
    flex-wrap: wrap;
  }

  .ability-card{
    height: auto;
    width: 29%;
    margin: 2%;
    display: flex;
    text-align: center;
    background-color: #0E1116;
    color: #EADEDA;
    border: 2px solid #EADEDA;
    
  }

  .card-header{
    border-bottom: 2px solid #EADEDA;
  }



  .ability-card-items th, .ability-card-items td{
    font-weight: 100;
    font-size: 19px;
    background-color: #0E1116;
    color: #EADEDA;
  }

  .ability-card-items{
    margin-bottom: 0% !important;
  }


  .char-details{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .desc-subtitle{
    font-size: 14px;
  }

  .char-details-con{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  input[type= "range"]::-webkit-slider-thumb{
    background-color: #374A67 !important;
    border: 1px solid #EADEDA;
  }


  .clseBtn:hover , .desc-subtitle:hover{
    cursor: pointer;
    color: #374A67;
  }

  .bg-desc{
    font-size: 14px;
    font-family: "bookmania", serif;
  }

  .feat{
    font-size: 18px;
    font-family: titleFont;
  }