@font-face {
  font-family: titleFont;
  src: url(../fonts/Draconis.otf);
}

body{
  background-color: #0E1116;
}


h1 {
    font-family: titleFont;
}

.navbar{
  background-color: #374A67;
}

.nav-link , .navbar-brand{
  color: #EADEDA;
  font-family: titleFont;
}

.nav-link:hover , .navbar-brand:hover, .active:hover{
  color: #EADEDA !important;
  border-bottom: 2px solid #EADEDA;
}

.navbar-brand{
  width: 0px;
}

.navbar-nav{
  margin-left: 10%;
}

.nav-link{
  margin-left: 5%;
  margin-right: 5%;
}

.active{
  color: #EADEDA !important;
  border-bottom: 2px solid #EADEDA;
}

.logo-img{
  width: 32px;
}

.navbar-collapse{
  justify-content: center;
}

.d-flex, .search-bar, .search-bar:focus{
  font-family: titleFont;
  color: #EADEDA !important;
  background-color: #374A67;
}

.d-flex{
  width: 20%;
}

.btn-primary{
  font-family: titleFont;
  font-size: 32px;
  color: #EADEDA;
  background-color: #374A67;
  border-radius: 15px;
  border: 2px solid #374A67;
  width: 35%;
}

.btn-primary:hover{
  background-color: #374A67;
  border: 2px solid #EADEDA;
}

.btn-primary:active{
  color: #374A67 !important;
  background-color: #EADEDA !important;
  border: 2px solid #374A67 !important;  
}


.img-1-header{
  width: 100%;
  height: 85vh;
  color: #EADEDA;
  background-image: url("../assets/wizards\ spell\ book.jpg");
  background-position: center;
  background-size: cover;
}

.title-1{
  font-size: 64px;
}

.header-btn-1{
  float: right;
  margin-top: 25vh;
}

.img-2-header{
  width: 100%;
  height: 85vh;
  color: #EADEDA;
  background-image: url("../assets/duel\ rapier.jpg");
  background-position: center;
  background-size: cover;
}

.title-2{
  font-size: 64px;
  text-align: end;
  display: flex;
  justify-content: end;
}

.header-btn-2{
  float: right;
  margin-top: 10vh;
}


.img-3-header{
  width: 100%;
  height: 85vh;
  color: #EADEDA;
  background-image: url("../assets/find\ a\ cursed\ idol.jpg");
  background-position: center;
  background-size: cover;
}