@font-face {
  font-family: titleFont;
  src: url(../fonts/Draconis.otf);
}

body{
  background-color: #0E1116;
  color: #EADEDA;
}


h1,h2 {
    font-family: titleFont;
}

.navbar{
  background-color: #374A67;
  font-size: 22px;
}

.nav-link , .navbar-brand{
  color: #EADEDA;
  font-family: titleFont;
}

.nav-link:hover , .navbar-brand:hover, .active:hover{
  color: #EADEDA !important;
  border-bottom: 2px solid #EADEDA;
  cursor: pointer;
}

.navbar-brand{
  width: 0px;
  font-size: 32px;
}

.navbar-nav{
  margin-left: 10%;
}

.nav-link{
  margin-left: 5%;
  margin-right: 5%;
}

.active{
  color: #EADEDA !important;
  border-bottom: 2px solid #EADEDA;
}

.logo-img{
  width: 36px;
}

.navbar-collapse{
  justify-content: center;
}

.d-flex, .search-bar, .search-bar:focus{
  font-family: titleFont;
  color: #EADEDA !important;
  background-color: #374A67;
}

.d-flex{
  width: 20%;
}

.btn-primary{
  font-family: titleFont;
  font-size: 32px;
  color: #EADEDA;
  background-color: #374A67;
  border-radius: 15px;
  border: 2px solid #374A67;
  width: 35%;
}

.btn-primary:hover{
  background-color: #374A67;
  border: 2px solid #EADEDA;
  cursor: pointer;
}

.btn-primary:active{
  color: #374A67 !important;
  background-color: #EADEDA !important;
  border: 2px solid #374A67 !important;  
}


.img-1-header{
  width: 100%;
  height: 85vh;
  color: #EADEDA;
  background-image: url("../assets/images/home/wizards\ spell\ book.jpg");
  background-position: center;
  background-size: cover;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.title-1{
  font-size: 64px;
}

.header-btn-1{
  float: right;
  margin-top: 25vh;
}

.img-2-header{
  width: 100%;
  height: 85vh;
  color: #EADEDA;
  background-image: url("../assets/images/home/duel\ rapier.jpg");
  background-position: center;
  background-size: cover;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.title-2{
  font-size: 64px;
  text-align: end;
  display: flex;
  justify-content: end;
}

.header-btn-2{
  float: right;
  margin-top: 10vh;
}


.img-3-header{
  width: 100%;
  height: 85vh;
  color: #EADEDA;
  background-image: url("../assets/images/home/find\ a\ cursed\ idol.jpg");
  background-position: center;
  background-size: cover;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-repeat: no-repeat;
}

/* ======================================================================================================================= */

/* Character Index page */

.make-a-character{
  display: flex;
  justify-content: center;
}

.make-a-character:hover{
  cursor: pointer;
  color: #374A67;
}

.table-dark{
  --bs-table-bg: #0E1116;
  --bs-table-color: #EADEDA;
  --bs-table-border-color: #EADEDA; 
  --bs-table-hover-bg: #0E1116;
  --bs-table-hover-color: #EADEDA;
}

table{
  font-family: titleFont;
  font-size: 32px;
}

.view-character-btn{
  text-align: end;
}

.view-character-btn:hover{
  cursor: pointer;
  color: #374A67;
}

.table-icon{
  width: 88px;
  height: auto;
  margin: 0 auto;
}

.icon-con{
  vertical-align: middle;
  text-align: center;
}

/* Character builder code */
.choose-race{
  text-align: center;
}


.img-builder{
  height: 120vh;
  border-radius: 25px;
  background-image: url(../assets/images/paladin\ class.jpg);
  background-size: cover;
  background-position: top;
}

.side-nav{
  list-style: none;
  margin-left: -60%;
}

.race-selector{
  width: 60px;
  height: 60px;
  border: 3px solid #EADEDA;
  border-radius: 100%;
}

.race-selector:hover{
  background-color: #374A67;
  border: 3px solid #374A67;
  cursor: pointer;
}

.race-img{
  width: 60px;
  margin-left: -2px;
  padding: 15px;
}

.fist-img{
  width: 60px;
  margin-left: -2px;
  padding: 15px;
  margin-top: -4px;
}

.race-name, .read-more-race{
  font-size: 32px;
}

.read-more-race{
  display: flex;
  justify-content: end;
}

.read-more-race:hover{
  color: #374A67;
  cursor: pointer;
}


/* modal content */

.modal-content{
  background-color: #374A67;
  color: #EADEDA;
}